@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.header-color {
  color: red !important;
}
.navbar-header-hrz {
  font-family: "Montserrat Subrayada", sans-serif;
  color: rgb(184, 184, 184) !important;
  background-color: black;
}


body {
  background: linear-gradient(
    to top,
    #080808,
    #21262f
  ); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 550px;
  margin-top: 65px;
  position: relative;
  animation-name: avatar;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes avatar {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}
a {
  text-decoration: none;
  color: rgb(218, 208, 159);
}
ul {
  padding: 0;
  list-style: none;
}
.footer-social-icons {
  width: 250px;
  display: block;
  margin: 0 420px;
  position: relative;
  animation-name: social-icons;
  animation-duration: 14s;
  animation-fill-mode: forwards;
}

@keyframes social-icons {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}

ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  text-decoration: none;
}
.fa-facebook {
  padding: 10px 20px;
  transition: 1s;
  background-color: rgb(218, 208, 159);
  color: rgb(153, 122, 144);
}
.fa-facebook:hover {
  transition: 1s;

  background-color: rgb(153, 122, 144);
  color: rgb(218, 208, 159);
  padding: 10px 40px;
}

.fa-linkedin {
  padding: 10px 20px;
  transition: 1s;
  background-color: rgb(90, 6, 139);
  color: rgb(218, 208, 159);
}
.fa-linkedin:hover {
  transition: 1.5s;
  background-color: rgb(218, 208, 159);
  color: rgb(153, 122, 144);
  padding: 10px 40px;
}

.fa-github {
  padding: 10px 14px;
  transition: 1s;
  background-color: rgb(218, 208, 159);
  color: rgb(153, 122, 144);
}
.fa-github:hover {
  transition: 1.75s;

  background-color: rgb(153, 122, 144);
  color: rgb(218, 208, 159);
  padding: 10px 40px;
}


.titleContainer {
  position: relative;
  margin-top: 300px;
  margin-left: 170px;
  --maskX: 0;
  --maskY: 50;
}
.titleContainer h1 {
  font-family: "Great Vibes", cursive !important;
  font-size: 75px;
  margin: 0;
}

.titleContainer hr {
  border-top: 1px dashed rgb(67, 48, 97);
  width: 70%;
  margin-left: 5%;
}

.titleWrapper {
  color: #f2dcca;
  cursor: pointer;
}

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(153, 115, 142);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(
    0 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * -0.4%) 100%,
    0 100%
  );
}

.name h3 {
  font-family: "Fredericka the Great", cursive !important;

  font-size: 49px;
  color: #d4c5b8;
  position: relative;
  margin: 0px 0px 0px 330px;
  animation: myname;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}
@keyframes myname {
  0% {
    top: 0px;
    bottom: 0px;
  }
  100% {
    top: 280px;
  }
}

/* -------------Resume------------- */

#timeline {
  display: flex;
  background: linear-gradient(to top, #080808, #21262f);
  width: 100%;
}

#timeline:hover .tl-item {
  width: 53%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100px;
  min-height: 400px;
  max-height: 700px;
  color: rgb(153, 102, 80);
  overflow: hidden;
  transition: width 0.5s ease;
}

.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  background: rgba(3, 22, 37, 0, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.tl-item:before {
  opacity: 0;
  background: rgba(131, 173, 181, 0.3);
  border-radius: 10px;

  z-index: 1;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
  width: 30% !important;
}

.tl-item:hover:after {
  opacity: 0;
}

.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}
.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 20px;
  top: 15%;
  opacity: 0;
}
.tl-content h6 {
  font-family: "Monoton", cursive !important;
  margin-top: -40px;
  margin-bottom: 10px;

  color: #3aa2b7;
  font-size: 18px;
}

.tl-content p {
  color: #907b79;
  text-shadow: 0 0 10px rgb(46, 37, 37);
  font-family: "Fredericka the Great", cursive !important;
  margin-top: 2px;
  line-height: 1.8;
}
.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.tl-year p {
  color: rgba(75, 50, 3, 0.5);
}

.f2-heading {
  color: rgb(233, 116, 6) !important;
  font-family: "Montserrat Subrayada", sans-serif;
}

.tl-bg {
  transition: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5se ease;
  filter: grayscale(100%);
}

.citation-education {
  background-color: rgb(211, 211, 211);
  font-family: "Fredericka the Great", cursive;
  color: rgb(29, 2, 2);
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  height: 80px;
  width: 100%;
  border-radius: 1px;
}

.education {
  margin-top: 150px !important;
}

/*--Experience-------*/
.timeline-experience {
  width: 1340px;
  margin: 0 auto;
}

.timeline-experience-body {
  position: relative;
  margin-left: 280px;
  opacity: 0.2px;
  padding: 5px 0;
  border-left: 2px solid #df9257;
}

.timeline-experience-item {
  position: relative;
}
.time-experience {
  position: absolute;
  left: -130px;
  top: 4px;
  font-family: "Montserrat Subrayada", sans-serif;
  color: rgb(233, 116, 6);
}

.time-experience-1 {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f3771e;
  background-color: #df9257;
  position: absolute;
  top: 4px;
  left: -12px;
  z-index: 1;
}

.content-experience {
  margin: 40px;
  padding-bottom: 40px;
}

.namejob-experience {
  color: #3aa2b7;
  font-family: "Monoton", cursive;
  font-size: 15px;
}

.namebrand-experience {
  color: #f3771e;
  font-family: "Fredericka the Great", cursive !important;
}
.description-experience {
  color: #907b79;
  font-family: "Righteous", cursive;
}

.react {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  text-shadow: 0 0 15px #b6b4b2;
  box-shadow: 0 0 15px rgba(15, 15, 15, 0.5);
}

.imghtml {
  height: 100%;
  width: 100%;
}

.react span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: transparent;
  transform-origin: left;
  animation: animate 14s linear infinite;
}

.react span:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #310101;
  top: -10px;
  right: 78px;
  box-shadow: 0 0 20px #dbd581;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*----Skills----*/

.Skills {
  text-align: center;
  font-size: 28px;
  width: 100%;
}

/*----------Skills Front-----------*/

.Skills-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.5;

  padding: 15px 15px !important;
  border-radius: 60px;
  /* width: 1340px; */
}

.skills-front {
  margin-left: -420px !important;
  margin-top: 140px !important;
  text-align: center;
}

.logo-skills-front {
  margin-left: 49px !important;
}

.logo-skills-front ~ p {
  opacity: 1;
  color: #3aa2b7;
  margin-left: 50px;
}

.mongoall {
  margin: -230px 1014px 0px;
}

.secondMongodb {
  color: aliceblue !important;
  margin-top: 40px;
  margin-bottom: 38px;
  border-left: 1px solid rgb(255, 51, 0) !important;
  border-right: 1px solid rgb(255, 51, 0) !important;
  opacity: 0.5;
}
.secondMongodb:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.imgMongodb {
  height: 80px;
  width: 124px;
  opacity: 0.5;
}
.imgMongodb:hover {
  cursor: pointer;
  opacity: 1;
}

.name-logo-skills-mongodb {
  font-family: "Monoton", cursive !important;
  color: #3aa2b7;
}

.logo-skills-front + p {
  margin-top: 30px;
  border-left: 1.5px solid rgb(255, 51, 0) !important;
  border-right: 1.5px solid rgb(255, 51, 0) !important;
}

.name-logo-skills-front {
  margin-top: 40px;
  font-family: "Monoton", cursive !important;
}

.skills-front > :hover {
  opacity: 1 !important;
  cursor: pointer;
}
/*------Title Skills-------*/

.Title-Skills-informatique {
  margin: 9px 0px 0px 499px;
  color: rgb(233, 116, 6);
  font-size: 29px;
  font-family: "Montserrat Subrayada", sans-serif !important;
}
.Skills-Languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.Skills-Languages li {
  margin: 40px 430px 0px 180px;
}

.Skills-Languages li h3 {
  font-size: 28px;
  font-family: "Montserrat Subrayada", sans-serif;
  color: #907b79;
  text-shadow: 10px 0 5px royalblue;
}

.bar {
  background: var(--mainBlue);
  display: block;
  border: 1px solid var(--mainVsBlue);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px grey;
}
.bar span {
  float: left;
  background: var(--lightBlue);
  height: 2px;
}

.English {
  width: 75%;
}

.Frensh {
  width: 85%;
}

/*----About me ---------*/
:root {
  --mainBlue: #032b53;
  --lightBlue: #007bff;
  --mainWhite: #f3f3f3;
  --mainVsBlue: #1827fa;
  --mainYellow: #ffc107;
  --Yellow: #aa9107;

  --mainOrange: rgb(233, 116, 6);
  --mainRed: #e75555;
  --redLight: #ff1717;
  --lightGreen: #18c03f;
  --Green: #094914;
  --vscGrey: #5d6b6b;
  --darkVscode: #13191f;
  --idVscode: #21282e;
  --mainPurple: #fa00a7;
}

.aboutMe {
  color: rgb(241, 235, 239);
  text-shadow: 0 0 8px rgb(212, 205, 205);
  width: 100%;
  font-family: "Montserrat Subrayada", sans-serif;
  margin-top:0px !important;
    height: 100%;

}

.myself {
  font-family: "Fredericka the Great", cursive !important;
  margin: 0px 0px 240px 105px;
}

.titleAbout {
  font-family: "Fredericka the Great", cursive !important;
  font-size: 34px;
  margin-top: 60px;
  color: rgb(218, 208, 159);
  text-shadow: 0 0 10px rgb(170, 162, 121);
}

.identify {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 45px;
}
.AboutmeThis {
  color: rgb(204, 203, 204) !important;
}

.res-aboutMe {
  color: rgb(218, 208, 159);
  opacity: 0.1;
}

.res-aboutMe:hover {
  opacity: 1;
  text-shadow: 0 0 10px rgb(170, 162, 121);
  cursor: pointer;
}

.description {
  line-height: 35px;
}
/*-----Contact-----*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
  width:100%;
	float:left;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
  margin-left: -260px;
  margin-bottom:40px ;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
  background-repeat: no-repeat;

}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  font-family: Helvetica, Arial, sans-serif !important;

}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:rgb(194, 194, 195);
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: rgb(250, 71, 0) solid 2px;
	cursor:pointer;
	background-color: rgb(8, 0, 0);
	color:rgb(250, 71, 0);
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: #240200;
	color: rgb(255, 255, 255);
}
	
.submit:hover {
	color: rgb(233, 116, 6);
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: rgb(233, 116, 6);
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:rgb(233, 116, 6);
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


